html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

#app{
    height: 100%;
  }

/* 主页的高度100% */
.home-page,.el-container{
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    outline: 0;
    border: 0;
    border: 1px solid #ccc;
}

/* 登录页面输入框前字体颜色 */
.demo-loginForm .el-form-item__label{
    color: #fff !important;
}
.el-menu--collapse .el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}

.el-menu--collapse .el-menu-item .el-submenu__icon-arrow, .el-menu--collapse .el-submenu .el-submenu__title .el-submenu__icon-arrow {
    display: none;
}

.el-menu-item-group .el-menu-item {
    padding: 0 0 0 30px;
}

.el-menu-item-group .el-menu-item-group__title {
    padding: 0
}

#nprogress .bar {
    background: hotpink !important;
}

/* log */
.logo{
    height: 60px;
    background: linear-gradient(135deg,#4c67ff,#5635df);
    background-image: url(./../../media/img1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}